<!-- <nav class="main-nav">
    <ul class="nav-list">
        {{ range .Site.Menus.main }}
        <li class="nav-item">
            <a href="{{ .URL }}" class="nav-link{{ if $.IsMenuCurrent "main" . }} active{{ end }}">
                {{ .Name }}
            </a>
        </li>
        {{ end }}
    </ul>
</nav> -->

   
<!-- Hauptnavigation -->
  <nav class="main-header">
      <div class="main-nav">
            <button class="burger-menu" id="burgerMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>
            
            <ul class="nav-menu" id="navMenu">
                <!-- <li class="nav-item has-dropdown"> -->
                <li class="nav-item">
                    <a href="/">Startseite</a>
                    <!-- <div class="dropdown">
                        <a href="#">Aktuelles</a>
                        <a href="/camps/sommercamp">Sommercamp</a>
                        <a href="/camps/ostercamp">Ostercamp</a>
                    </div> -->
                </li>
                <!-- <li class="nav-item has-dropdown">
                    <a href="#">Eishockey</a>
                    <div class="dropdown">
                        <a href="/eishockey/u20-junioren">U20 | Junioren</a>
                        <a href="/eishockey/u17-jugend">U17 | Jugend</a>
                        <a href="/eishockey/u15-schueler">U15 | Schüler</a>
                        <a href="/eishockey/u13-knaben">U13 | Knaben</a>
                        <a href="/eishockey/kleinschueler">U11 | Kleinknaben</a>
                        <a href="/eishockey/kleinstschueler">U9 | Kleinstschüler</a>
                        <a href="/eishockey/bambini">U7 | Bambini</a>
                        <a href="/eishockey/laufschule">Laufschule</a>
                    </div>
                </li> -->
                <!-- <li class="nav-item has-dropdown">
                    <a href="/skatehockey">Skatehockey</a>
                    <div class="dropdown">
                        <a href="/skatehockey/junioren">Junioren</a>
                        <a href="/skatehockey/jugend">Jugend</a>
                        <a href="/skatehockey/schueler1">Schüler I</a>
                        <a href="/skatehockey/schueler2">Schüler II</a>
                        <a href="/skatehockey/bambini">Bambini</a>
                        <a href="/skatehockey/laufschule">Laufschule</a>
                    </div>
                </li> -->
                <!-- <li class="nav-item has-dropdown">
                    <a href="#">Verein</a>
                    <div class="dropdown">
                        <a href="/verein/mitgliedschaft">Mitgliedschaft</a>
                        <a href="/verein/probetraining">Probetraining</a>
                        <a href="/verein/probemonat">Probemonat</a>
                        <a href="/verein/ansprechpersonen">Ansprechpersonen</a>
                        <a href="/verein/eishalle">Eishalle</a>
                        <a href="/verein/hockey-arena-skater">Hockey Arena (Skater)</a>
                    </div>
                </li> -->
                <!-- <li class="nav-item has-dropdown">
                    <a href="#">Kontakt</a>
                    <div class="dropdown">
                        <a href="kontakt/impressum.html">Impressum</a>
                        <a href="kontakt/datenschutz.html">Datenschutz</a>
                    </div>
                </li> -->
            </ul>
      </div>
  </nav>